<div class="container">
  <h1>Mister Cocktails</h1>
  <div class="row">

  <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4">
    <div class="card-container">
      <a class="card-link" href="#" ></a>
      <%= link_to "", cocktail_path(cocktail), class: "card-link" %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cocktail.image_url %>');background-size: cover;">
        <div class="card-category"><h4><%= cocktail.name %></h4></div>
      </div>
      <div class="card-body">
        <% if cocktail.doses %>
          <ul class="index-doses">
          <% cocktail.doses.first(3).each do |dose| %>
            <li><%= dose.ingredient.name %><span class="middot">&middot;</span><%= dose.description %></li>
          <% end %>
          </ul>
        <% end %>
        <div class="stars"><i class="fas fa-glass-martini-alt star"></i><i class="fas fa-glass-martini-alt star"></i><i class="fas fa-glass-martini-alt star"></i><i class="fas fa-glass-martini-alt unstar"></i><i class="fas fa-glass-martini-alt unstar"></i></div>
      </div>
    </div>
  </div>
  <% end %>

</div>
<span class="new-cocktail-button">New Cocktail</span>
<div class="create-cocktail">
  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name, style: "height: 5px;" %>
    <%= f.input :image_url %>
    <%= f.submit %>
  <% end %>
</div>
</div>
