<h1><%= @cocktail.name %></h1>

<!-- Cocktails details: name, ingredients, doses -->
<img src="<%= @cocktail.image_url %>" style="width: 300px">

<h5>Ingredients</h5>
<ul>
<% @cocktail.doses.each do |item| %>
  <li><%= item.description %> <%= item.ingredient.name %> <%= link_to "Delete", dose_path(item), method: 'delete' %></li>
<% end %>
</ul>

<div style="width: 400px;">
<%= simple_form_for [@cocktail, @dose] do |f| %>

  <%= f.association :ingredient, collection: Ingredient.order(name: :asc), prompt: "Choose an Ingredient" %>

  <%#= simple_fields_for @ingredient do |i| %>
    <%#= i.input :name, label: 'Ingredient', collection: Ingredient::NAMES %>
  <%# end %>

  <%= f.input :description, label: 'Dose', class: 'form-control-sm' %>

  <%= f.submit %>
<% end %>
</div>

<%# = link_to "Add Ingredient", new_cocktail_dose_path(@cocktail) %>
