<div class="show-container">
  <h1><%= @cocktail.name %></h1>

  <div><%= link_to "Back to Cocktails", cocktails_path %></div>

  <%
    if @cocktail.photo.url
      photo = cl_image_path @cocktail.photo, width: 400, crop: :fill
    end
  %>
  <div class="cocktail-flex-box">
    <div class="cocktail-container">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= photo %>');background-size: cover; background-position: center;">
        <div class="card-category"><h4><%= @cocktail.name %></h4></div>
      </div>
      <div class="card-body cocktail-card-body">
        <% if @cocktail.doses %>
          <ul class="index-doses">
          <% @cocktail.doses.each do |dose| %>
            <li><%= dose.ingredient.name %><span class="middot">&middot;</span><%= dose.description %> <span style="float: right"><%= link_to "Delete", dose_path(dose), method: 'delete' %></span></li>
          <% end %>
          </ul>
        <% end %>
        <div class="ingredients-form">
        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.association :ingredient, collection: Ingredient.order(name: :asc), prompt: "Choose an Ingredient" %>
          <%= f.input :description, label: 'Dose', class: 'form-control-sm' %>
          <%= f.submit %>
        <% end %>
        </div>
      </div>
    </div>

    <div class="cocktail-container reviews-container">
      <div class="review-section">
        <h3>Add Review</h3>
        <%= simple_form_for [@cocktail, @review] do |f| %>
          <%= f.input :name, class: 'form-control-sm' %>
          <%= f.input :content, class: 'form-control' %>
          <%= f.input :stars, collection: Review::STARS, class: 'form-control', selected: 1 %>
          <%= f.submit %>
        <% end %>
      </div>

      <h3>Reviews</h3>
      <% @cocktail.reviews.order(updated_at: :desc).each do |review| %>
        <div class="review-section">
          <div class="review-header">
            <span class="review-name"><%= review.name %></span>
            <span class="review-stars">
              <% 5.times.each do |count| %>
                <% if review.stars && review.stars > count %>
                  <i class="fas fa-glass-martini-alt star"></i>
                <% else %>
                  <i class="fas fa-glass-martini-alt unstar"></i>
                <% end %>
              <% end %>
            </span>
          </div>
          <div class="review-content">
            <p><%= review.content %></p>
          </div>
        </div>
      <% end %>
  </div>
</div>
